@import 'tailwindcss';

:root {
  --background: #ffffff;
  --background2: #f4f4f4;
  --foreground: #0f0f0f;
  --foreground2: #767676;
  --border: #e3e3e3;
  --border2: #d0d0d0;
  --primary: #eb2c37;
  --error: #fc0000;
  --weight-normal: 300;
}

@theme inline {
  --color-background: var(--background);
  --color-background2: var(--background2);
  --color-foreground: var(--foreground);
  --color-foreground2: var(--foreground2);
  --color-border: var(--border);
  --color-border2: var(--border2);
  --color-primary: var(--primary);
  --font-sans: var(--font-sohne);
  --font-weight-normal: var(--weight-normal);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    var(--font-sohne),
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-weight: var(--weight-normal);
  position: relative;
  line-height: 1.625;
}

::-webkit-scrollbar-thumb {
  width: 0px;
  background: transparent;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

html {
  scrollbar-width: none;
}
